<footer id="footer_pellere"> 
    <div>
        <p>
            <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull;
            Theme created by <a href="http://golem.io">golem.io</a> &bull; 
            Proudly published with <a class="icon-ghost" href="http://ghost.org" target="_blank">Ghost</a>
        </p>
    </div>
</footer>