{{!< default}}
                
{{> header}}

<div id="container">
    <div class="grey"></div>
    <div class="main-wrapper">
        <div class="inner-main-wrapper">
            <div class="left-column">
                <main role="main">
                    {{> loop}}
                </main>  
            </div>
            {{> sidebar}}
        </div>
    </div>
</div>

{{> footer}}